.fusionAuthButton {
  padding: 16px 174px 13px 175px;
  border-radius: 8px;
  background-color: #083b94;
  font-family: SFPro;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}