.fusionAuthButton {
    margin: 40px 0 0;
    padding: 16px 164.5px 13px 165.5px;
    border-radius: 8px;
    background-color: #083b94;
    font-family: 'SFPro';
    font-size: 18px;
    text-align: center;
    color: #fff;
}